/* Web View */

button {
  height: 25px;
  width: 60px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #81cb2f;
  border-radius: 18px;
  border: 1px solid black;
  cursor: pointer;
  color: #ffffff;
}
.form-check {
  margin-left: 20px;
}
.hide {
  display: none;
}
.mobilsearching {
  display: none;
}

.newbutton {
  margin-left: 1rem;
}

.user {
  margin-left: 3rem;
}
.existing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
}

.notes {
  height: 200px;
  overflow-y: auto;
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  border: 1px solid black;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #319ac2;
}

.hundred {
  width: 100%;
  border: 1px solid black;
  background-color: #81cb2f;
}

.hundredbutton {
  width: 100%;
  border: 1px solid black;
  background-color: #81cb2f;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  color: black;
}

.headtop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  background-color: white;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.searchbar {
  border: 1px solid black;
  height: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* .search {
  text-align: center;
  width: 25%;
  border: 1px solid black;
  margin-right: 25px;
  height: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
} */

.searchingbuttons {
  margin-left: -5%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #ffffff;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
.modal-title {
  margin: 0;
}
.pagetwo {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  height: 40px;
  width: 250px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.modal-body {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
}
.user {
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttonsother {
  padding-top: 7px;
  display: flex;
  justify-content: space-evenly;
}

.wide {
  width: 75px;
}

.new {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 3px;
}

.form-input,
.form-notes {
  border: 1px solid black;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.form-notes {
  height: 100px;
  flex-wrap: wrap;
  align-self: flex-start;
}

.notes {
  background-color: #a1d7e6;
  border: 1px solid black;
}

.bigbutton,
.bigbuttonextra {
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 5px;
}

.bigbuttonextra {
  width: 90px;
}
.checkboxes {
  border: 1px solid black;
}
.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}

.checkboxes input {
  vertical-align: middle;
}

.checkboxes label span {
  vertical-align: middle;
  padding-left: 15%;
}
.notprovided {
  background-color: yellow;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.search,
.searchmobil {
  text-align: center;
  width: 150%;
  border: 1px solid black;
  margin-right: 25px;
  height: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-device-width: 480px) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
  /* .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  .login {
    width: 75%;
  }

  /* sidebar Nav */

  .navBar {
    position: relative;
  }

  .navBar button {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: darkcyan;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
  }

  .menuNav.showMenu {
    width: 100%;
  }

  a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
  }

  .menuNav li:first-child {
    margin-top: 7rem;
  }
  .pagetwo,
  .inputWithButtonTwo {
    flex-direction: column;
    width: 100%;
    margin-left: -3px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .headtop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3rem;
  }

  .searching {
    display: none;
    width: 100%;
  }

  .searchbar {
    flex-direction: row;
  }
  .search {
    text-align: center;
    width: 100%;
    border: 1px solid black;
    height: 40px;
    margin-left: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .newbutton,
  .burgerbutton {
    border: 1px solid black;
    width: 63px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
  }
  .burgerbutton {
    width: 75%;
    height: 4rem;
    font-size: 20px;
  }
  .mobilsearching {
    display: flex;
    justify-content: space-evenly;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .searchingbuttons {
    display: none;
  }

  .keJYcw {
    top: 5px;
  }
  .title {
    font-size: 1.25rem;
    margin-top: 18px;
    margin-left: 15px;
  }
  .searchmobil {
    width: 75%;
    margin-left: 15px;
  }
  .searchseperation {
    border-top: 1px solid white;
    margin-top: 20px;
  }
}
